.menuicon {
	width: 88px;
	height: 88px;
	float: right;
}

label {
	max-width:44px;
	max-height: 38px;
	border-radius: 3px;
}

.menuicon label {
	width: 100%;
	height: 100%;
	background-color: var(--green);
	border: var(--transpwhite) 1px dotted;
	position: absolute;
	transition: all 0.3s linear;
}

#check {
	position: absolute;
	z-index: 1;
	display: none;
}

.spcheck {
	width: 35px;
	height: 4px;
	top: 18px;
	right: 5px;
	position: absolute;
	background-color: #ffffff;
	transition: all 0.3s linear;
	z-index: 1;
	border-radius: 2px;
}

.spcheck:before {
	content: '';
	width: 35px;
	height: 4px;
	bottom: -12px;
	right: 0px;
	position: absolute;
	background-color: #ffffff;
	transition: all 0.3s linear;
	z-index: 1;
	border-radius: 2px;
}

.spcheck:after {
	content: '';
	width: 35px;
	height: 4px;
	top: -12px;
	right: 0px;
	position: absolute;
	background-color: #ffffff;
	transition: all 0.3s linear;
	z-index: 1;
	border-radius: 2px;
}

#check:checked ~ span {
	background-color: transparent;
}

#check:checked ~ .spcheck:before {
	transform: translate(0px, -12px) rotate(-45deg);
}

#check:checked ~ span:after {
	transform: translate(0px, 12px) rotate(45deg);
}

#check:checked ~ label {
	border-radius: 50%;
}

#check:not(:checked) ~ #menu {
	visibility: hidden;
}

#check:checked ~ #menu {
	visibility: visible;
	text-align: left;
	background-color: var(--green);
	width: 100%;
}

#menu a {
	padding-top: 0.75em;
}