@import 'icon.css' screen and (max-width: 992px);

/* global styles */
:root {
	--blue: #0E223A;
	--green: #177092;
	--gray: #AEC1D0;
	--white: #F5F5F5;
	--mGray: #6B99B0;
	--icon: 35px;
}

html {
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #000000;
}

body {
	background-color: #FFFFFF;
	font-family: arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 4em;
	margin-top: 2em;
}

h2 {
	font-size: 3em;
	padding-top: 0;
	margin-top: 2em;
}

h3 {
	font-size: 2em;
}

.subheading {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5em;
}

p {
	font-family: arial, sans-serif;
	font-weight: bold;
}

ol, ul {
	list-style: none;
}

a:link, a:visited {
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

a:hover, a:active {

}

i {
	font-size: var(--icon);
}


section {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

[class*="col-"] {
	float: left;
}

#check, .label, .spcheck {
	visibility: hidden;
}

.social a {
	margin-left: 0.5em;
}

.social a:first-child {
	margin-left: 0em;
}

.row {
	position: fixed;
	top: 0;
	left: 0;
	width: 25%;
}

/* sideBar styles */
#sideBar {
	min-height: 100vh;
	background-color: yellow;
	text-align: center;
	padding-top: 6em;
}

.dropbtn {
	visibility: hidden;
}

#menu a {
	display: block;
	margin-top: 1.5em;
	text-transform: uppercase;
}

#photo {
	max-width: 45%;
	border-radius: 50%;
	border: #F5F5F5 5px solid;
}

/* content styles */
#separator {
	min-height: 100vh;
}

#cont {
	min-height: 100vh;
	background-color: dodgerblue;
	padding-bottom: 3em;
}

.resume-item {
	display: flex;
	margin-top: 2em;
}

.resume-content {
	width: 66%;
}

.resume-date {
	width: 33%;
	text-align: right;
	font-weight: bold;
}

/* skills styles */
#softwares {
	display: inline-block;
	max-width: 90%;
}

.lang-icons {
	margin-left: 0.5em;
}

/* responsive grid */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* medium devices configurations */
@media (max-width: 992px) {
	
	img {
		/*
		display: none;
		border: 0;
		*/
		visibility: hidden;
		height: 0;
	}

	#check, .label, .spcheck {
		visibility: visible;
	}

	.col-3 {
		width: 100%;
	}

	.row {
		position: relative;
		width: 100%;
		top: 0;
		right: 0;

	}

	.col-9 {
		width: 100%;
	}

	#separator {
		visibility: hidden;
		min-height: 0;
		height: 0;
	}

	#sideBar {
		min-height: 5px;
		background-color: yellow;
		text-align: center;
		padding-top: 0;
		position: relative;
		display: inline-block;
		float: right;
		margin-left: auto;
		width: 100%;
		height: 40px;
	}

	#menu {
		position: absolute;
		top: 35px;
		right: 0;
	}

	#menu a {
		margin-top: 0;
		margin-top: 0.25em;
	}

}

/* devices less than 768 px  */
@media (max-width: 768px) {

	.resume-item {
		display: block;
		margin-top: 2em;
	}

	.resume-content {
		width: 100%;
	}

	.resume-date {
		width: 100%;
		text-align: left;
	}

	h1 {
		font-size: 3em;
		margin-top: 2em;
	}

	h2 {
		font-size: 2.5em;
		padding-top: 0;
		margin-top: 2em;
	}

	h3 {
		font-size: 2em;
	}

	.subheading {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.12em;
	}
}